.center {
    display: block;
    margin: 0 auto;
}

.shadow {
	display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.rounded {
	display: block;
    margin: 0 auto;
    border-radius: 50%;
}
